@{
    ViewData["Title"] = "Home Page";
}

<div class="jumbotron">
    <h1>Test Task</h1>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>Welcome to TestTask</h2>
    </div>
    
</div>